.home_container {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}
.home_sub {
  display: flex;
}
.list_sub {
  padding: 10px;
  flex: 1;
}
.list_wrapper {
  margin-top: 10px;
  width: 100%;
}
.loading_container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  height: 100%;
}
