.header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 5px;
    background-color: violet;
}
.header_title{
    font-size: 25px;
    font-weight: bold;
}